In [22]:
import os
import pandas as pd
from pathlib import Path
import numpy as np

# Subject 9

In [180]:
all_files = Path(Path.cwd()/"sub9")
info = pd.read_csv(all_files/"info.csv", delimiter=";")
p1 = pd.read_csv(all_files/"part1.csv", delimiter=";")
p2 = pd.read_csv(all_files/"part2.csv", delimiter=";")
pre = pd.read_csv(all_files/"pretest.csv", delimiter=";")
tes = pd.read_csv(all_files/"test.csv", delimiter=";")

## Participant Info

In [181]:
info.head()

,Language,Level,acc,accuracy,age,average_response_time,avg_rt,b0,b1,background,...,time_up2,time_welcome,title,total_correct,total_response_time,total_responses,trial_num,trial_num_baseline,uniform_coordinates,width
0,Hindi,I haven't taken any courses,undefined,undefined,23,undefined,undefined,NaN,NaN,#e8edf1,...,no,3695,SlimStampen example,0,0,0,1,1,yes,1024

## Pretest

In [187]:
pre.head()

,trial,fact,start_time,rt,correct,fact_id,question,answer
0,1,"Word(fact_id=1, question='winkel', answer=['sh...",10956.0,961.0,True,1,winkel,"['shop', 'store']"
1,2,"Word(fact_id=2, question='lepel', answer=['spo...",13967.0,957.0,True,2,lepel,['spoon']
2,3,"Word(fact_id=3, question='jas', answer=['coat'...",17227.0,inf,False,3,jas,"['coat', 'jacket', 'overcoat', 'cloak']"
3,4,"Word(fact_id=4, question='raam', answer=['wind...",21104.0,inf,True,4,raam,"['window', 'frame']"
4,5,"Word(fact_id=5, question='buiten', answer=['ou...",25836.0,inf,False,5,buiten,"['outside', 'out']"

In [188]:
# No of correct/wrong
pre["correct"].value_counts()

False    15
True      4
Name: correct, dtype: int64

In [189]:
# Avergae RT
np.average([x for x in pre["rt"].values if x!=np.Inf])

1757.9166666666667

## Part 1

In [190]:
p1.head()

,trial,start_time,rt,correct,fact_id,question,context_1,context_2,answer,chosen_context,encounter_2,reading_time,fogetting_rate
0,1,106986.0,inf,False,1,woordenschat,Ik heb een goede <b>woordenschat</b>.,Een boek lezen doet wonderen voor je <b>woorde...,vocabulary,Ik heb een goede <b>woordenschat</b>.,False,563.6,0.299609
1,2,115785.0,643.0,True,1,woordenschat,Ik heb een goede <b>woordenschat</b>.,Een boek lezen doet wonderen voor je <b>woorde...,vocabulary,Ik heb een goede <b>woordenschat</b>.,False,563.6,0.250000
2,3,119716.0,1694.0,False,2,beseffen,Ik <b>besef</b> dat ik het fout heb gedaan.,Ik heb niet <b>beseft</b> dat het zo laat was.,realize;to realize,Ik <b>besef</b> dat ik het fout heb gedaan.,False,680.6,0.300000
3,4,122886.0,1506.0,False,3,uitnodigen,Ik wil je graag <b>uitnodigen</b> voor mijn ve...,Ze <b>nodigen</b> elke kunstenaar uit voor de ...,invite;to invite,Ik wil je graag <b>uitnodigen</b> voor mijn ve...,False,914.6,0.300000
4,5,125874.0,inf,True,2,beseffen,Ik <b>besef</b> dat ik het fout heb gedaan.,Ik heb niet <b>beseft</b> dat het zo laat was.,realize;to realize,Ik <b>besef</b> dat ik het fout heb gedaan.,False,680.6,0.349609

In [191]:
# Avergae RT
np.mean([x for x in p1["rt"].values if x!=np.Inf and x<30000])

1959.4268292682927

In [192]:
np.std([x for x in p1["rt"].values if x!=np.Inf and x<30000])

1654.191564617267

In [193]:
# No of correct/wrong in encounter 1
p1["correct"].value_counts()

True     121
False     29
Name: correct, dtype: int64

In [194]:
# No of correct/wrong in encounter 2
p1["encounter_2"].value_counts()

True     80
False    70
Name: encounter_2, dtype: int64

In [195]:
len(p1)

150

In [196]:
# No of wrong in both encounter 1 and 2
len(p1[(p1.encounter_2 ==False) & (p1.correct == False)])

23

In [197]:
# No of correct in both encounter 1 and 2
len(p1[(p1.encounter_2 ==True) & (p1.correct == True)])

74

In [198]:
# Avergae forgetting rate
np.average([x for x in p1["fogetting_rate"].values if x!=np.Inf])

0.4525390625

## Part 2

In [199]:
p2.head()

,trial,start_time,rt,correct,fact_id,question,context_1,context_2,answer,chosen_context,encounter_2,reading_time,fogetting_rate
0,1,1374843.0,2269.0,False,1,tevreden,Mijn baas was erg <b>tevreden</b> over het res...,"Hij is niet snel <b>tevreden</b>,hij is erg kr...",satisfied,tevreden,False,875.6,0.299609
1,2,1378601.0,6345.0,True,1,tevreden,Mijn baas was erg <b>tevreden</b> over het res...,"Hij is niet snel <b>tevreden</b>,hij is erg kr...",satisfied,tevreden,False,875.6,0.349219
2,3,1387564.0,1614.0,False,2,verwondering,Kinderen zitten vol <b>verwondering</b>.,Ik sta vol <b>verwondering</b> naar de sterren...,wonder;surprise,verwondering,False,622.1,0.300000
3,4,1390691.0,4479.0,False,3,bijeenkomst,SNIC is een <b>bijeenkomst</b> met studenten v...,De <b>bijeenkomst</b> begint om 10 uur.,meeting;gathering,bijeenkomst,False,1304.6,0.300000
4,5,1396688.0,3439.0,False,2,verwondering,Kinderen zitten vol <b>verwondering</b>.,Ik sta vol <b>verwondering</b> naar de sterren...,wonder;surprise,verwondering,False,622.1,0.349609

In [200]:
# Avergae RT
np.average([x for x in p2["rt"].values if x!=np.Inf])

17628.963302752294

In [201]:
# Avergae forgetting rate
np.average([x for x in p2["fogetting_rate"].values if x!=np.Inf])

0.425546875

In [202]:
# Avergae RT
np.mean([x for x in p2["rt"].values if x!=np.Inf and x<30000])

2609.1666666666665

In [203]:
np.std(p2["rt"].values)

/opt/homebrew/lib/python3.10/site-packages/numpy/core/_methods.py:233: RuntimeWarning: invalid value encountered in subtract
  x = asanyarray(arr - arrmean)

nan

In [204]:
np.std([x for x in p2["rt"].values if x!=np.Inf and x<30000])

3009.07167147512

In [205]:
# No of correct/wrong in encounter 1
p2["correct"].value_counts()

True     111
False     39
Name: correct, dtype: int64

In [206]:
# No of correct/wrong in encounter 2
p2["encounter_2"].value_counts()

False    150
Name: encounter_2, dtype: int64

In [207]:
len(p2)

150

In [208]:
# No of wrong in both encounter 1 and 2
len(p2[(p2.encounter_2 ==False) & (p2.correct == False)])

39

In [209]:
# No of correct in both encounter 1 and 2
len(p2[(p2.encounter_2 ==True) & (p2.correct == True)])

0

## Final test

In [210]:
tes.head()

,trial,fact,start_time,rt,correct,fact_id,question,answer,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,1,"Word(fact_id=1, question='dreigen', answer=['t...",1146363.0,inf,False,1,dreigen,"['threaten', 'to threaten']",NaN,NaN,NaN,NaN,NaN
1,2,"Word(fact_id=2, question='voldoende', answer=[...",1154674.0,1770.0,False,2,voldoende,"['sufficient', 'enough']",NaN,NaN,NaN,NaN,NaN
2,3,"Word(fact_id=3, question='bewaren', answer=['k...",1159538.0,inf,True,3,bewaren,"['keep', 'to keep']",NaN,NaN,NaN,NaN,NaN
3,4,"Word(fact_id=4, question='gemiddeld', answer=[...",1168089.0,inf,True,4,gemiddeld,"['average', 'on average']",NaN,NaN,NaN,NaN,NaN
4,5,"Word(fact_id=5, question='verwachten', answer=...",1173078.0,inf,True,5,verwachten,"['expect', 'to expect']",NaN,NaN,NaN,NaN,NaN

In [211]:
# Avergae RT
np.average([x for x in tes["rt"].values if x!=np.Inf])

89012.44444444444

In [212]:
# No of correct/wrong in encounter 1
tes["correct"].value_counts()

True     30
False     7
Name: correct, dtype: int64

In [213]:
len(tes)

37

## Comparing Test and training/Contest

In [214]:

tes_grouped = tes.groupby('fact_id').agg('mean')
tes_grouped.head(5)

/var/folders/s2/psn1kzxd2_972xy94t5fr4cr0000gn/T/ipykernel_51267/3378082505.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  tes_grouped = tes.groupby('fact_id').agg('mean')

,trial,start_time,rt,correct,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
fact_id,,,,,,,,,
1,9.5,1731781.0,NaN,0.5,NaN,NaN,NaN,NaN,NaN
2,10.5,1737620.0,2565.5,0.0,NaN,NaN,NaN,NaN,NaN
3,11.5,1743222.5,NaN,1.0,NaN,NaN,NaN,NaN,NaN
4,12.5,1750729.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN
5,13.5,1754846.5,NaN,1.0,NaN,NaN,NaN,NaN,NaN

## Comparing P1 and tes

In [215]:
p1_grouped = p1.groupby('fact_id').agg('mean')
p1_grouped.head(5)

/var/folders/s2/psn1kzxd2_972xy94t5fr4cr0000gn/T/ipykernel_51267/486987055.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  p1_grouped = p1.groupby('fact_id').agg('mean')

,trial,start_time,rt,correct,encounter_2,reading_time,fogetting_rate
fact_id,,,,,,,
1,31.250000,115043.000000,NaN,0.750000,0.000000,563.6,0.262500
2,62.500000,444667.090909,NaN,0.909091,0.818182,680.6,0.521964
3,49.166667,371327.166667,NaN,0.833333,0.000000,914.6,0.296810
4,41.750000,329523.333333,NaN,0.833333,0.666667,1012.1,0.436458
5,19.666667,212758.000000,1486.333333,0.666667,0.000000,758.6,0.250391

In [216]:
merge_tes_p1_groups = pd.merge(tes_grouped, p1_grouped, how = "left", on = "fact_id")
merge_tes_p1_groups.head(5)

,trial_x,start_time_x,rt_x,correct_x,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,trial_y,start_time_y,rt_y,correct_y,encounter_2,reading_time,fogetting_rate
fact_id,,,,,,,,,,,,,,,,
1,9.5,1731781.0,NaN,0.5,NaN,NaN,NaN,NaN,NaN,31.250000,115043.000000,NaN,0.750000,0.000000,563.6,0.262500
2,10.5,1737620.0,2565.5,0.0,NaN,NaN,NaN,NaN,NaN,62.500000,444667.090909,NaN,0.909091,0.818182,680.6,0.521964
3,11.5,1743222.5,NaN,1.0,NaN,NaN,NaN,NaN,NaN,49.166667,371327.166667,NaN,0.833333,0.000000,914.6,0.296810
4,12.5,1750729.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,41.750000,329523.333333,NaN,0.833333,0.666667,1012.1,0.436458
5,13.5,1754846.5,NaN,1.0,NaN,NaN,NaN,NaN,NaN,19.666667,212758.000000,1486.333333,0.666667,0.000000,758.6,0.250391

In [217]:
len(merge_tes_p1_groups)

20

In [218]:
# Count how many times the avg correctness is greater in the grouped P1 than the grouped P2
len(merge_tes_p1_groups[merge_tes_p1_groups.correct_x > merge_tes_p1_groups.correct_y])

11

## Comparing P2 and tes

In [219]:
p2_grouped = p2.groupby('fact_id').agg('mean')
p2_grouped.head(5)

/var/folders/s2/psn1kzxd2_972xy94t5fr4cr0000gn/T/ipykernel_51267/581003624.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  p2_grouped = p2.groupby('fact_id').agg('mean')

,trial,start_time,rt,correct,encounter_2,reading_time,fogetting_rate
fact_id,,,,,,,
1,16.800000,1.144845e+06,330421.6,0.800000,0.0,875.6,0.301406
2,62.500000,1.750866e+06,NaN,0.583333,0.0,622.1,0.391797
3,40.583333,1.616873e+06,NaN,0.916667,0.0,1304.6,0.427734
4,18.666667,1.482028e+06,1338.0,0.666667,0.0,1285.1,0.250391
5,56.322581,1.712316e+06,NaN,0.935484,0.0,797.6,0.668536

In [220]:
merge_tes_p2_groups = pd.merge(tes_grouped, p2_grouped, how = "left", on = "fact_id")
merge_tes_p2_groups.head(5)

,trial_x,start_time_x,rt_x,correct_x,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,trial_y,start_time_y,rt_y,correct_y,encounter_2,reading_time,fogetting_rate
fact_id,,,,,,,,,,,,,,,,
1,9.5,1731781.0,NaN,0.5,NaN,NaN,NaN,NaN,NaN,16.800000,1.144845e+06,330421.6,0.800000,0.0,875.6,0.301406
2,10.5,1737620.0,2565.5,0.0,NaN,NaN,NaN,NaN,NaN,62.500000,1.750866e+06,NaN,0.583333,0.0,622.1,0.391797
3,11.5,1743222.5,NaN,1.0,NaN,NaN,NaN,NaN,NaN,40.583333,1.616873e+06,NaN,0.916667,0.0,1304.6,0.427734
4,12.5,1750729.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,18.666667,1.482028e+06,1338.0,0.666667,0.0,1285.1,0.250391
5,13.5,1754846.5,NaN,1.0,NaN,NaN,NaN,NaN,NaN,56.322581,1.712316e+06,NaN,0.935484,0.0,797.6,0.668536

In [221]:
len(merge_tes_p2_groups)

20

In [222]:
# Count how many times the avg correctness is greater in the grouped P1 than the grouped P2
len(merge_tes_p2_groups[merge_tes_p2_groups.correct_x > merge_tes_p2_groups.correct_y])

13

# Subject 11

In [254]:
all_files = Path(Path.cwd()/"sub11")
info = pd.read_csv(all_files/"info.csv", delimiter=";")
p1 = pd.read_csv(all_files/"part1.csv", delimiter=";")
p2 = pd.read_csv(all_files/"part2.csv", delimiter=";")
pre = pd.read_csv(all_files/"pretest.csv", delimiter=";")
tes = pd.read_csv(all_files/"test.csv", delimiter=";")

## Participant Info

In [255]:
info.head()

,Language,Level,acc,accuracy,age,average_response_time,avg_rt,b0,b1,background,...,time_up2,time_welcome,title,total_correct,total_response_time,total_responses,trial_num,trial_num_baseline,uniform_coordinates,width
0,Telugu,A1,undefined,undefined,23,undefined,undefined,NaN,NaN,#e8edf1,...,no,2842,SlimStampen example,0,0,0,1,1,yes,1024

## Pretest

In [256]:
pre.head()

,trial,fact,start_time,rt,correct,fact_id,question,answer,Unnamed: 8,Unnamed: 9,...,Unnamed: 201,Unnamed: 202,Unnamed: 203,Unnamed: 204,Unnamed: 205,Unnamed: 206,Unnamed: 207,Unnamed: 208,Unnamed: 209,Unnamed: 210
0,1,"Word(fact_id=1, question='winkel', answer=['sh...",15847.0,1116.0,True,1,winkel,"['shop', 'store']",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,"Word(fact_id=2, question='lepel', answer=['spo...",19426.0,923.0,True,2,lepel,['spoon'],NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,"Word(fact_id=3, question='jas', answer=['coat'...",23019.0,1250.0,True,3,jas,"['coat', 'jacket', 'overcoat', 'cloak']",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,"Word(fact_id=4, question='raam', answer=['wind...",27146.0,1188.0,True,4,raam,"['window', 'frame']",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,"Word(fact_id=5, question='buiten', answer=['ou...",30930.0,1234.0,True,5,buiten,"['outside', 'out']",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [257]:
# No of correct/wrong
pre["correct"].value_counts()

False    13
True      6
Name: correct, dtype: int64

In [258]:
# Avergae RT
np.average([x for x in pre["rt"].values if x!=np.Inf])

2760.0

## Part 1

In [259]:
p1.head()

,trial,start_time,rt,correct,fact_id,question,context_1,context_2,answer,chosen_context,...,Unnamed: 201,Unnamed: 202,Unnamed: 203,Unnamed: 204,Unnamed: 205,Unnamed: 206,Unnamed: 207,Unnamed: 208,Unnamed: 209,Unnamed: 210
0,1,1083550.0,3613.0,True,1,verschrikkelijk,Ik vind het <b>verschrikkelijk</b> om voor een...,Het was een <b>verschrikkelijke</b> dag.,terrible,awful,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,1090939.0,1100.0,True,1,verschrikkelijk,Ik vind het <b>verschrikkelijk</b> om voor een...,Het was een <b>verschrikkelijke</b> dag.,terrible,awful,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,1094630.0,1409.0,True,2,zelfstandig,Het is prettig als werknemers <b>zelfstandig</...,Ik vond het in het begin moeilijk om <b>zelfst...,independent,independently,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,1098925.0,3561.0,True,3,gewoonte,Ik heb de slechte <b>gewoonte</b> om te laat t...,Het is een goede <b>gewoonte</b> om je handen ...,habit,Ik heb de slechte <b>gewoonte</b> om te laat t...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,1105388.0,946.0,True,2,zelfstandig,Het is prettig als werknemers <b>zelfstandig</...,Ik vond het in het begin moeilijk om <b>zelfst...,independent,independently,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [260]:
# Avergae RT
np.mean([x for x in p1["rt"].values if x!=np.Inf and x<30000])

2580.268965517241

In [261]:
np.std([x for x in p1["rt"].values if x!=np.Inf and x<30000])

2288.9053648058193

In [262]:
# No of correct/wrong in encounter 1
p1["correct"].value_counts()

True     140
False     10
Name: correct, dtype: int64

In [263]:
# No of correct/wrong in encounter 2
p1["encounter_2"].value_counts()

FALSE                                                                              71
TRUE                                                                               23
horrible                                                                           13
Nieuwe munten <b>blinken</b> nog.                                                   3
blinken                                                                             3
scheren                                                                             3
Ik moet iedere morgen opnieuw de stoppels van mijn gezicht <b>scheren</b>.          2
Kinderen zitten vol <b>verwondering</b>.                                            2
begroeten                                                                           2
overdrijven                                                                         2
beschrijven                                                                         2
Ik heb het haar <b>vergeven</b>,maar ik vergeet het niet.                           2
Sommige mensen vinden het leuk om te <b>overdrijven</b>,ik vind het verwarrend.     2
Wij <b>begroeten</b> elkaar altijd als we thuis komen.                              2
Het is lastig om de smaak van een gerecht te <b>beschrijven</b>.                    2
Tijdens de pandemie hadden veel studenten last van <b>eenzaamheid</b>.              2
eenzaamheid                                                                         2
SNIC is een <b>bijeenkomst</b> met studenten van verschillende opleidingen.         2
Het is prettig als werknemers <b>zelfstandig</b> kunnen werken.                     2
verwondering                                                                        2
bijeenkomst                                                                         2
zelfstandig                                                                         2
vergeven                                                                            2
Name: encounter_2, dtype: int64

In [264]:
len(p1)

150

In [265]:
# No of wrong in both encounter 1 and 2
len(p1[(p1.encounter_2 ==False) & (p1.correct == False)])

0

In [266]:
# No of correct in both encounter 1 and 2
len(p1[(p1.encounter_2 ==True) & (p1.correct == True)])

0

In [267]:
# Avergae forgetting rate
np.average([x for x in p1["fogetting_rate"].values if x!=np.Inf])

UFuncTypeError: ufunc 'add' did not contain a loop with signature matching types (dtype('<U64'), dtype('<U64')) -> None

## Part 2

In [268]:
p2.head()

,trial,start_time,rt,correct,fact_id,question,context_1,context_ 0,2,answer,...,Unnamed: 201,Unnamed: 202,Unnamed: 203,Unnamed: 204,Unnamed: 205,Unnamed: 206,Unnamed: 207,Unnamed: 208,Unnamed: 209,Unnamed: 210
0,1,116523.0,2650.0,True,1,vergeten,Ben je nou alweer je sleutel <b>vergeten</b>?,"Sorry,we waren <b>vergeten</b> de wiki aan te ...",forget,to forget,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,121704.0,1167.0,True,1,vergeten,Ben je nou alweer je sleutel <b>vergeten</b>?,"Sorry,we waren <b>vergeten</b> de wiki aan te ...",forget,to forget,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,125172.0,6240.0,False,2,onderdeel,Ik mis een <b>onderdeel</b> van mijn IKEA kast.,Deze opleiding is een <b>onderdeel</b> van de ...,part,part of,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,133536.0,1239.0,False,3,kerel,Ik ben een gezonde <b>kerel</b>.,Die <b>kerel</b> blokkeert steeds mijn zicht.,guy,dude,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,136834.0,1201.0,True,2,onderdeel,Ik mis een <b>onderdeel</b> van mijn IKEA kast.,Deze opleiding is een <b>onderdeel</b> van de ...,part,part of,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [269]:
# Avergae RT
np.average([x for x in p2["rt"].values if x!=np.Inf])

7807.165413533835

In [270]:
# Avergae forgetting rate
np.average([x for x in p2["fogetting_rate"].values if x!=np.Inf])

nan

In [271]:
# Avergae RT
np.mean([x for x in p2["rt"].values if x!=np.Inf and x<30000])

2353.1068702290077

In [272]:
np.std([x for x in p2["rt"].values if x!=np.Inf and x<30000])

2510.1586679325824

In [273]:
# No of correct/wrong in encounter 1
p2["correct"].value_counts()

True     123
False     27
Name: correct, dtype: int64

In [274]:
# No of correct/wrong in encounter 2
p2["encounter_2"].value_counts()

FALSE          87
betreffen      13
563.6          10
661.1           7
vergeten        5
895.1           5
700.1           5
1148.6          5
waarschuwen     5
797.6           4
524.6           4
Name: encounter_2, dtype: int64

In [275]:
len(p2)

150

In [276]:
# No of wrong in both encounter 1 and 2
len(p2[(p2.encounter_2 ==False) & (p2.correct == False)])

0

In [277]:
# No of correct in both encounter 1 and 2
len(p2[(p2.encounter_2 ==True) & (p2.correct == True)])

0

## Final test

In [278]:
tes.head()

,trial,fact,start_time,rt,correct,fact_id,question,answer,Unnamed: 8,Unnamed: 9,...,Unnamed: 201,Unnamed: 202,Unnamed: 203,Unnamed: 204,Unnamed: 205,Unnamed: 206,Unnamed: 207,Unnamed: 208,Unnamed: 209,Unnamed: 210
0,1,"Word(fact_id=1, question='alternatief', answer...",980571.0,1006.0,True,1,alternatief,['alternative'],NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,"Word(fact_id=2, question='voldoende', answer=[...",984638.0,3352.0,True,2,voldoende,"['sufficient', 'enough']",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,"Word(fact_id=3, question='bewaren', answer=['k...",991068.0,985.0,True,3,bewaren,"['keep', 'to keep']",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,"Word(fact_id=4, question='algemeen', answer=['...",994090.0,916.0,True,4,algemeen,['general'],NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,"Word(fact_id=5, question='matig', answer=['med...",997779.0,969.0,True,5,matig,['mediocre'],NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [279]:
# Avergae RT
np.average([x for x in tes["rt"].values if x!=np.Inf])

49493.23809523809

In [280]:
# No of correct/wrong in encounter 1
tes["correct"].value_counts()

True    44
Name: correct, dtype: int64

In [281]:
len(tes)

44

## Comparing Test and training/Contest

In [282]:

tes_grouped = tes.groupby('fact_id').agg('mean')
tes_grouped.head(5)

/var/folders/s2/psn1kzxd2_972xy94t5fr4cr0000gn/T/ipykernel_51267/3378082505.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  tes_grouped = tes.groupby('fact_id').agg('mean')

,trial,start_time,rt,correct,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,...,Unnamed: 201,Unnamed: 202,Unnamed: 203,Unnamed: 204,Unnamed: 205,Unnamed: 206,Unnamed: 207,Unnamed: 208,Unnamed: 209,Unnamed: 210
fact_id,,,,,,,,,,,,,,,,,,,,,
1,12.0,1481926.0,1059.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,13.0,1487063.0,2235.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,14.0,1492333.5,953.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,15.0,1495403.0,980.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,16.0,1499158.5,951.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Comparing P1 and tes

In [283]:
p1_grouped = p1.groupby('fact_id').agg('mean')
p1_grouped.head(5)

/var/folders/s2/psn1kzxd2_972xy94t5fr4cr0000gn/T/ipykernel_51267/486987055.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  p1_grouped = p1.groupby('fact_id').agg('mean')

,trial,start_time,rt,correct,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,...,Unnamed: 201,Unnamed: 202,Unnamed: 203,Unnamed: 204,Unnamed: 205,Unnamed: 206,Unnamed: 207,Unnamed: 208,Unnamed: 209,Unnamed: 210
fact_id,,,,,,,,,,,,,,,,,,,,,
1,70.153846,1.397901e+06,103924.615385,0.923077,1090.1,0.351202,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,29.000000,1.252792e+06,1164.000000,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,30.250000,1.258242e+06,1758.500000,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,34.750000,1.287905e+06,1442.250000,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,33.750000,1.285990e+06,1576.750000,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [284]:
merge_tes_p1_groups = pd.merge(tes_grouped, p1_grouped, how = "left", on = "fact_id")
merge_tes_p1_groups.head(5)

,trial_x,start_time_x,rt_x,correct_x,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,...,Unnamed: 201_y,Unnamed: 202_y,Unnamed: 203_y,Unnamed: 204_y,Unnamed: 205_y,Unnamed: 206_y,Unnamed: 207_y,Unnamed: 208_y,Unnamed: 209_y,Unnamed: 210_y
fact_id,,,,,,,,,,,,,,,,,,,,,
1,12.0,1481926.0,1059.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,13.0,1487063.0,2235.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,14.0,1492333.5,953.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,15.0,1495403.0,980.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,16.0,1499158.5,951.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [285]:
len(merge_tes_p1_groups)

22

In [286]:
# Count how many times the avg correctness is greater in the grouped P1 than the grouped P2
len(merge_tes_p1_groups[merge_tes_p1_groups.correct_x > merge_tes_p1_groups.correct_y])

7

## Comparing P2 and tes

In [287]:
p2_grouped = p2.groupby('fact_id').agg('mean')
p2_grouped.head(5)

/var/folders/s2/psn1kzxd2_972xy94t5fr4cr0000gn/T/ipykernel_51267/581003624.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  p2_grouped = p2.groupby('fact_id').agg('mean')

,trial,start_time,rt,correct,fogetting_rate,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,...,Unnamed: 201,Unnamed: 202,Unnamed: 203,Unnamed: 204,Unnamed: 205,Unnamed: 206,Unnamed: 207,Unnamed: 208,Unnamed: 209,Unnamed: 210
fact_id,,,,,,,,,,,,,,,,,,,,,
1,41.800000,219627.200000,140903.2,1.000000,719.600000,0.240156,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,32.000000,306919.000000,8386.6,0.600000,0.260312,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,32.250000,299606.000000,1521.5,0.750000,0.225586,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,36.600000,332713.000000,1373.2,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,54.363636,425532.545455,NaN,0.818182,0.356499,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [288]:
merge_tes_p2_groups = pd.merge(tes_grouped, p2_grouped, how = "left", on = "fact_id")
merge_tes_p2_groups.head(5)

,trial_x,start_time_x,rt_x,correct_x,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,...,Unnamed: 201_y,Unnamed: 202_y,Unnamed: 203_y,Unnamed: 204_y,Unnamed: 205_y,Unnamed: 206_y,Unnamed: 207_y,Unnamed: 208_y,Unnamed: 209_y,Unnamed: 210_y
fact_id,,,,,,,,,,,,,,,,,,,,,
1,12.0,1481926.0,1059.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,13.0,1487063.0,2235.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,14.0,1492333.5,953.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,15.0,1495403.0,980.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,16.0,1499158.5,951.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [289]:
len(merge_tes_p2_groups)

22

In [290]:
# Count how many times the avg correctness is greater in the grouped P1 than the grouped P2
len(merge_tes_p2_groups[merge_tes_p2_groups.correct_x > merge_tes_p2_groups.correct_y])

19

# Subject 11

In [291]:
all_files = Path(Path.cwd()/"sub11")
info = pd.read_csv(all_files/"info.csv", delimiter=";")
p1 = pd.read_csv(all_files/"part1.csv", delimiter=";")
p2 = pd.read_csv(all_files/"part2.csv", delimiter=";")
pre = pd.read_csv(all_files/"pretest.csv", delimiter=";")
tes = pd.read_csv(all_files/"test.csv", delimiter=";")

## Participant Info

In [292]:
info.head()

,Language,Level,acc,accuracy,age,average_response_time,avg_rt,b0,b1,background,...,time_up2,time_welcome,title,total_correct,total_response_time,total_responses,trial_num,trial_num_baseline,uniform_coordinates,width
0,Telugu,A1,undefined,undefined,23,undefined,undefined,NaN,NaN,#e8edf1,...,no,2842,SlimStampen example,0,0,0,1,1,yes,1024

## Pretest

In [293]:
pre.head()

,trial,fact,start_time,rt,correct,fact_id,question,answer,Unnamed: 8,Unnamed: 9,...,Unnamed: 201,Unnamed: 202,Unnamed: 203,Unnamed: 204,Unnamed: 205,Unnamed: 206,Unnamed: 207,Unnamed: 208,Unnamed: 209,Unnamed: 210
0,1,"Word(fact_id=1, question='winkel', answer=['sh...",15847.0,1116.0,True,1,winkel,"['shop', 'store']",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,"Word(fact_id=2, question='lepel', answer=['spo...",19426.0,923.0,True,2,lepel,['spoon'],NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,"Word(fact_id=3, question='jas', answer=['coat'...",23019.0,1250.0,True,3,jas,"['coat', 'jacket', 'overcoat', 'cloak']",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,"Word(fact_id=4, question='raam', answer=['wind...",27146.0,1188.0,True,4,raam,"['window', 'frame']",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,"Word(fact_id=5, question='buiten', answer=['ou...",30930.0,1234.0,True,5,buiten,"['outside', 'out']",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [294]:
# No of correct/wrong
pre["correct"].value_counts()

False    13
True      6
Name: correct, dtype: int64

In [295]:
# Avergae RT
np.average([x for x in pre["rt"].values if x!=np.Inf])

2760.0

## Part 1

In [296]:
p1.head()

,trial,start_time,rt,correct,fact_id,question,context_1,context_2,answer,chosen_context,...,Unnamed: 201,Unnamed: 202,Unnamed: 203,Unnamed: 204,Unnamed: 205,Unnamed: 206,Unnamed: 207,Unnamed: 208,Unnamed: 209,Unnamed: 210
0,1,1083550.0,3613.0,True,1,verschrikkelijk,Ik vind het <b>verschrikkelijk</b> om voor een...,Het was een <b>verschrikkelijke</b> dag.,terrible,awful,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,1090939.0,1100.0,True,1,verschrikkelijk,Ik vind het <b>verschrikkelijk</b> om voor een...,Het was een <b>verschrikkelijke</b> dag.,terrible,awful,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,1094630.0,1409.0,True,2,zelfstandig,Het is prettig als werknemers <b>zelfstandig</...,Ik vond het in het begin moeilijk om <b>zelfst...,independent,independently,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,1098925.0,3561.0,True,3,gewoonte,Ik heb de slechte <b>gewoonte</b> om te laat t...,Het is een goede <b>gewoonte</b> om je handen ...,habit,Ik heb de slechte <b>gewoonte</b> om te laat t...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,1105388.0,946.0,True,2,zelfstandig,Het is prettig als werknemers <b>zelfstandig</...,Ik vond het in het begin moeilijk om <b>zelfst...,independent,independently,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [297]:
# Avergae RT
np.mean([x for x in p1["rt"].values if x!=np.Inf and x<30000])

2580.268965517241

In [298]:
np.std([x for x in p1["rt"].values if x!=np.Inf and x<30000])

2288.9053648058193

In [299]:
# No of correct/wrong in encounter 1
p1["correct"].value_counts()

True     140
False     10
Name: correct, dtype: int64

In [300]:
# No of correct/wrong in encounter 2
p1["encounter_2"].value_counts()

FALSE                                                                              71
TRUE                                                                               23
horrible                                                                           13
Nieuwe munten <b>blinken</b> nog.                                                   3
blinken                                                                             3
scheren                                                                             3
Ik moet iedere morgen opnieuw de stoppels van mijn gezicht <b>scheren</b>.          2
Kinderen zitten vol <b>verwondering</b>.                                            2
begroeten                                                                           2
overdrijven                                                                         2
beschrijven                                                                         2
Ik heb het haar <b>vergeven</b>,maar ik vergeet het niet.                           2
Sommige mensen vinden het leuk om te <b>overdrijven</b>,ik vind het verwarrend.     2
Wij <b>begroeten</b> elkaar altijd als we thuis komen.                              2
Het is lastig om de smaak van een gerecht te <b>beschrijven</b>.                    2
Tijdens de pandemie hadden veel studenten last van <b>eenzaamheid</b>.              2
eenzaamheid                                                                         2
SNIC is een <b>bijeenkomst</b> met studenten van verschillende opleidingen.         2
Het is prettig als werknemers <b>zelfstandig</b> kunnen werken.                     2
verwondering                                                                        2
bijeenkomst                                                                         2
zelfstandig                                                                         2
vergeven                                                                            2
Name: encounter_2, dtype: int64

In [301]:
len(p1)

150

In [302]:
# No of wrong in both encounter 1 and 2
len(p1[(p1.encounter_2 ==False) & (p1.correct == False)])

0

In [303]:
# No of correct in both encounter 1 and 2
len(p1[(p1.encounter_2 ==True) & (p1.correct == True)])

0

In [304]:
# Avergae forgetting rate
np.average([x for x in p1["fogetting_rate"].values if x!=np.Inf])

UFuncTypeError: ufunc 'add' did not contain a loop with signature matching types (dtype('<U64'), dtype('<U64')) -> None

## Part 2

In [305]:
p2.head()

,trial,start_time,rt,correct,fact_id,question,context_1,context_ 0,2,answer,...,Unnamed: 201,Unnamed: 202,Unnamed: 203,Unnamed: 204,Unnamed: 205,Unnamed: 206,Unnamed: 207,Unnamed: 208,Unnamed: 209,Unnamed: 210
0,1,116523.0,2650.0,True,1,vergeten,Ben je nou alweer je sleutel <b>vergeten</b>?,"Sorry,we waren <b>vergeten</b> de wiki aan te ...",forget,to forget,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,121704.0,1167.0,True,1,vergeten,Ben je nou alweer je sleutel <b>vergeten</b>?,"Sorry,we waren <b>vergeten</b> de wiki aan te ...",forget,to forget,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,125172.0,6240.0,False,2,onderdeel,Ik mis een <b>onderdeel</b> van mijn IKEA kast.,Deze opleiding is een <b>onderdeel</b> van de ...,part,part of,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,133536.0,1239.0,False,3,kerel,Ik ben een gezonde <b>kerel</b>.,Die <b>kerel</b> blokkeert steeds mijn zicht.,guy,dude,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,136834.0,1201.0,True,2,onderdeel,Ik mis een <b>onderdeel</b> van mijn IKEA kast.,Deze opleiding is een <b>onderdeel</b> van de ...,part,part of,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [306]:
# Avergae RT
np.average([x for x in p2["rt"].values if x!=np.Inf])

7807.165413533835

In [307]:
# Avergae forgetting rate
np.average([x for x in p2["fogetting_rate"].values if x!=np.Inf])

nan

In [308]:
# Avergae RT
np.mean([x for x in p2["rt"].values if x!=np.Inf and x<30000])

2353.1068702290077

In [309]:
np.std(p2["rt"].values)

/opt/homebrew/lib/python3.10/site-packages/numpy/core/_methods.py:233: RuntimeWarning: invalid value encountered in subtract
  x = asanyarray(arr - arrmean)

nan

In [310]:
np.std([x for x in p2["rt"].values if x!=np.Inf and x<30000])

2510.1586679325824

In [311]:
# No of correct/wrong in encounter 1
p2["correct"].value_counts()

True     123
False     27
Name: correct, dtype: int64

In [312]:
# No of correct/wrong in encounter 2
p2["encounter_2"].value_counts()

FALSE          87
betreffen      13
563.6          10
661.1           7
vergeten        5
895.1           5
700.1           5
1148.6          5
waarschuwen     5
797.6           4
524.6           4
Name: encounter_2, dtype: int64

In [313]:
len(p2)

150

In [314]:
# No of wrong in both encounter 1 and 2
len(p2[(p2.encounter_2 ==False) & (p2.correct == False)])

0

In [315]:
# No of correct in both encounter 1 and 2
len(p2[(p2.encounter_2 ==True) & (p2.correct == True)])

0

## Final test

In [316]:
tes.head()

,trial,fact,start_time,rt,correct,fact_id,question,answer,Unnamed: 8,Unnamed: 9,...,Unnamed: 201,Unnamed: 202,Unnamed: 203,Unnamed: 204,Unnamed: 205,Unnamed: 206,Unnamed: 207,Unnamed: 208,Unnamed: 209,Unnamed: 210
0,1,"Word(fact_id=1, question='alternatief', answer...",980571.0,1006.0,True,1,alternatief,['alternative'],NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,"Word(fact_id=2, question='voldoende', answer=[...",984638.0,3352.0,True,2,voldoende,"['sufficient', 'enough']",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,"Word(fact_id=3, question='bewaren', answer=['k...",991068.0,985.0,True,3,bewaren,"['keep', 'to keep']",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,"Word(fact_id=4, question='algemeen', answer=['...",994090.0,916.0,True,4,algemeen,['general'],NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,"Word(fact_id=5, question='matig', answer=['med...",997779.0,969.0,True,5,matig,['mediocre'],NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [317]:
# Avergae RT
np.average([x for x in tes["rt"].values if x!=np.Inf])

49493.23809523809

In [318]:
# No of correct/wrong in encounter 1
tes["correct"].value_counts()

True    44
Name: correct, dtype: int64

In [319]:
len(tes)

44

## Comparing Test and training/Contest

In [320]:

tes_grouped = tes.groupby('fact_id').agg('mean')
tes_grouped.head(5)

/var/folders/s2/psn1kzxd2_972xy94t5fr4cr0000gn/T/ipykernel_51267/3378082505.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  tes_grouped = tes.groupby('fact_id').agg('mean')

,trial,start_time,rt,correct,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,...,Unnamed: 201,Unnamed: 202,Unnamed: 203,Unnamed: 204,Unnamed: 205,Unnamed: 206,Unnamed: 207,Unnamed: 208,Unnamed: 209,Unnamed: 210
fact_id,,,,,,,,,,,,,,,,,,,,,
1,12.0,1481926.0,1059.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,13.0,1487063.0,2235.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,14.0,1492333.5,953.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,15.0,1495403.0,980.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,16.0,1499158.5,951.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Comparing P1 and tes

In [ ]:
p1_grouped = p1.groupby('fact_id').agg('mean')
p1_grouped.head(5)

/var/folders/s2/psn1kzxd2_972xy94t5fr4cr0000gn/T/ipykernel_51267/486987055.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  p1_grouped = p1.groupby('fact_id').agg('mean')

,trial,start_time,rt,correct,encounter_2,reading_time,fogetting_rate
fact_id,,,,,,,
1,31.250000,115043.000000,NaN,0.750000,0.000000,563.6,0.262500
2,62.500000,444667.090909,NaN,0.909091,0.818182,680.6,0.521964
3,49.166667,371327.166667,NaN,0.833333,0.000000,914.6,0.296810
4,41.750000,329523.333333,NaN,0.833333,0.666667,1012.1,0.436458
5,19.666667,212758.000000,1486.333333,0.666667,0.000000,758.6,0.250391

In [ ]:
merge_tes_p1_groups = pd.merge(tes_grouped, p1_grouped, how = "left", on = "fact_id")
merge_tes_p1_groups.head(5)

,trial_x,start_time_x,rt_x,correct_x,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,trial_y,start_time_y,rt_y,correct_y,encounter_2,reading_time,fogetting_rate
fact_id,,,,,,,,,,,,,,,,
1,9.5,1731781.0,NaN,0.5,NaN,NaN,NaN,NaN,NaN,31.250000,115043.000000,NaN,0.750000,0.000000,563.6,0.262500
2,10.5,1737620.0,2565.5,0.0,NaN,NaN,NaN,NaN,NaN,62.500000,444667.090909,NaN,0.909091,0.818182,680.6,0.521964
3,11.5,1743222.5,NaN,1.0,NaN,NaN,NaN,NaN,NaN,49.166667,371327.166667,NaN,0.833333,0.000000,914.6,0.296810
4,12.5,1750729.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,41.750000,329523.333333,NaN,0.833333,0.666667,1012.1,0.436458
5,13.5,1754846.5,NaN,1.0,NaN,NaN,NaN,NaN,NaN,19.666667,212758.000000,1486.333333,0.666667,0.000000,758.6,0.250391

In [ ]:
len(merge_tes_p1_groups)

20

In [ ]:
# Count how many times the avg correctness is greater in the grouped P1 than the grouped P2
len(merge_tes_p1_groups[merge_tes_p1_groups.correct_x > merge_tes_p1_groups.correct_y])

11

## Comparing P2 and tes

In [ ]:
p2_grouped = p2.groupby('fact_id').agg('mean')
p2_grouped.head(5)

/var/folders/s2/psn1kzxd2_972xy94t5fr4cr0000gn/T/ipykernel_51267/581003624.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  p2_grouped = p2.groupby('fact_id').agg('mean')

,trial,start_time,rt,correct,encounter_2,reading_time,fogetting_rate
fact_id,,,,,,,
1,16.800000,1.144845e+06,330421.6,0.800000,0.0,875.6,0.301406
2,62.500000,1.750866e+06,NaN,0.583333,0.0,622.1,0.391797
3,40.583333,1.616873e+06,NaN,0.916667,0.0,1304.6,0.427734
4,18.666667,1.482028e+06,1338.0,0.666667,0.0,1285.1,0.250391
5,56.322581,1.712316e+06,NaN,0.935484,0.0,797.6,0.668536

In [ ]:
merge_tes_p2_groups = pd.merge(tes_grouped, p2_grouped, how = "left", on = "fact_id")
merge_tes_p2_groups.head(5)

,trial_x,start_time_x,rt_x,correct_x,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,trial_y,start_time_y,rt_y,correct_y,encounter_2,reading_time,fogetting_rate
fact_id,,,,,,,,,,,,,,,,
1,9.5,1731781.0,NaN,0.5,NaN,NaN,NaN,NaN,NaN,16.800000,1.144845e+06,330421.6,0.800000,0.0,875.6,0.301406
2,10.5,1737620.0,2565.5,0.0,NaN,NaN,NaN,NaN,NaN,62.500000,1.750866e+06,NaN,0.583333,0.0,622.1,0.391797
3,11.5,1743222.5,NaN,1.0,NaN,NaN,NaN,NaN,NaN,40.583333,1.616873e+06,NaN,0.916667,0.0,1304.6,0.427734
4,12.5,1750729.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,18.666667,1.482028e+06,1338.0,0.666667,0.0,1285.1,0.250391
5,13.5,1754846.5,NaN,1.0,NaN,NaN,NaN,NaN,NaN,56.322581,1.712316e+06,NaN,0.935484,0.0,797.6,0.668536

In [ ]:
len(merge_tes_p2_groups)

20

In [ ]:
# Count how many times the avg correctness is greater in the grouped P1 than the grouped P2
len(merge_tes_p2_groups[merge_tes_p2_groups.correct_x > merge_tes_p2_groups.correct_y])

13

In [14]:
all_files = Path(Path.cwd()/"sub9")
info = pd.read_csv(all_files/"info.csv", delimiter=";")
p1 = pd.read_csv(all_files/"part1.csv", delimiter=";")
p2 = pd.read_csv(all_files/"part2.csv", delimiter=";")
pre = pd.read_csv(all_files/"pretest.csv", delimiter=";")
tes = pd.read_csv(all_files/"test.csv", delimiter=";")

## Participant Info

In [15]:
info.head()

,Language,Level,acc,accuracy,age,average_response_time,avg_rt,b0,b1,background,...,time_up2,time_welcome,title,total_correct,total_response_time,total_responses,trial_num,trial_num_baseline,uniform_coordinates,width
0,Hindi,I haven't taken any courses,undefined,undefined,23,undefined,undefined,NaN,NaN,#e8edf1,...,no,3695,SlimStampen example,0,0,0,1,1,yes,1024

## Pretest

In [16]:
pre.head()

,trial,fact,start_time,rt,correct,fact_id,question,answer
0,1,"Word(fact_id=1, question='winkel', answer=['sh...",10956.0,961.0,True,1,winkel,"['shop', 'store']"
1,2,"Word(fact_id=2, question='lepel', answer=['spo...",13967.0,957.0,True,2,lepel,['spoon']
2,3,"Word(fact_id=3, question='jas', answer=['coat'...",17227.0,inf,False,3,jas,"['coat', 'jacket', 'overcoat', 'cloak']"
3,4,"Word(fact_id=4, question='raam', answer=['wind...",21104.0,inf,True,4,raam,"['window', 'frame']"
4,5,"Word(fact_id=5, question='buiten', answer=['ou...",25836.0,inf,False,5,buiten,"['outside', 'out']"

In [26]:
# No of correct/wrong
pre["correct"].value_counts()

False    15
True      4
Name: correct, dtype: int64

In [25]:
# Avergae RT
np.average([x for x in pre["rt"].values if x!=np.Inf])

1757.9166666666667

## Part 1

In [27]:
p1.head()

,trial,start_time,rt,correct,fact_id,question,context_1,context_2,answer,chosen_context,encounter_2,reading_time,fogetting_rate
0,1,106986.0,inf,False,1,woordenschat,Ik heb een goede <b>woordenschat</b>.,Een boek lezen doet wonderen voor je <b>woorde...,vocabulary,Ik heb een goede <b>woordenschat</b>.,False,563.6,0.299609
1,2,115785.0,643.0,True,1,woordenschat,Ik heb een goede <b>woordenschat</b>.,Een boek lezen doet wonderen voor je <b>woorde...,vocabulary,Ik heb een goede <b>woordenschat</b>.,False,563.6,0.250000
2,3,119716.0,1694.0,False,2,beseffen,Ik <b>besef</b> dat ik het fout heb gedaan.,Ik heb niet <b>beseft</b> dat het zo laat was.,realize;to realize,Ik <b>besef</b> dat ik het fout heb gedaan.,False,680.6,0.300000
3,4,122886.0,1506.0,False,3,uitnodigen,Ik wil je graag <b>uitnodigen</b> voor mijn ve...,Ze <b>nodigen</b> elke kunstenaar uit voor de ...,invite;to invite,Ik wil je graag <b>uitnodigen</b> voor mijn ve...,False,914.6,0.300000
4,5,125874.0,inf,True,2,beseffen,Ik <b>besef</b> dat ik het fout heb gedaan.,Ik heb niet <b>beseft</b> dat het zo laat was.,realize;to realize,Ik <b>besef</b> dat ik het fout heb gedaan.,False,680.6,0.349609

In [114]:
# Avergae RT
np.mean([x for x in p1["rt"].values if x!=np.Inf and x<30000])

1959.4268292682927

In [115]:
np.std([x for x in p1["rt"].values if x!=np.Inf and x<30000])

1654.191564617267

In [31]:
# No of correct/wrong in encounter 1
p1["correct"].value_counts()

True     121
False     29
Name: correct, dtype: int64

In [33]:
# No of correct/wrong in encounter 2
p1["encounter_2"].value_counts()

True     80
False    70
Name: encounter_2, dtype: int64

In [48]:
len(p1)

150

In [47]:
# No of wrong in both encounter 1 and 2
len(p1[(p1.encounter_2 ==False) & (p1.correct == False)])

23

In [49]:
# No of correct in both encounter 1 and 2
len(p1[(p1.encounter_2 ==True) & (p1.correct == True)])

74

In [59]:
# Avergae forgetting rate
np.average([x for x in p1["fogetting_rate"].values if x!=np.Inf])

0.4525390625

## Part 2

In [50]:
p2.head()

,trial,start_time,rt,correct,fact_id,question,context_1,context_2,answer,chosen_context,encounter_2,reading_time,fogetting_rate
0,1,1374843.0,2269.0,False,1,tevreden,Mijn baas was erg <b>tevreden</b> over het res...,"Hij is niet snel <b>tevreden</b>,hij is erg kr...",satisfied,tevreden,False,875.6,0.299609
1,2,1378601.0,6345.0,True,1,tevreden,Mijn baas was erg <b>tevreden</b> over het res...,"Hij is niet snel <b>tevreden</b>,hij is erg kr...",satisfied,tevreden,False,875.6,0.349219
2,3,1387564.0,1614.0,False,2,verwondering,Kinderen zitten vol <b>verwondering</b>.,Ik sta vol <b>verwondering</b> naar de sterren...,wonder;surprise,verwondering,False,622.1,0.300000
3,4,1390691.0,4479.0,False,3,bijeenkomst,SNIC is een <b>bijeenkomst</b> met studenten v...,De <b>bijeenkomst</b> begint om 10 uur.,meeting;gathering,bijeenkomst,False,1304.6,0.300000
4,5,1396688.0,3439.0,False,2,verwondering,Kinderen zitten vol <b>verwondering</b>.,Ik sta vol <b>verwondering</b> naar de sterren...,wonder;surprise,verwondering,False,622.1,0.349609

In [51]:
# Avergae RT
np.average([x for x in p2["rt"].values if x!=np.Inf])

17628.963302752294

In [58]:
# Avergae forgetting rate
np.average([x for x in p2["fogetting_rate"].values if x!=np.Inf])

0.425546875

In [116]:
# Avergae RT
np.mean([x for x in p2["rt"].values if x!=np.Inf and x<30000])

2609.1666666666665

In [117]:
np.std([x for x in p2["rt"].values if x!=np.Inf and x<30000])

3009.07167147512

In [52]:
# No of correct/wrong in encounter 1
p2["correct"].value_counts()

True     111
False     39
Name: correct, dtype: int64

In [53]:
# No of correct/wrong in encounter 2
p2["encounter_2"].value_counts()

False    150
Name: encounter_2, dtype: int64

In [54]:
len(p2)

150

In [56]:
# No of wrong in both encounter 1 and 2
len(p2[(p2.encounter_2 ==False) & (p2.correct == False)])

39

In [57]:
# No of correct in both encounter 1 and 2
len(p2[(p2.encounter_2 ==True) & (p2.correct == True)])

0

## Final test

In [104]:
tes.head()

,trial,fact,start_time,rt,correct,fact_id,question,answer,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,1,"Word(fact_id=1, question='dreigen', answer=['t...",1146363.0,inf,False,1,dreigen,"['threaten', 'to threaten']",NaN,NaN,NaN,NaN,NaN
1,2,"Word(fact_id=2, question='voldoende', answer=[...",1154674.0,1770.0,False,2,voldoende,"['sufficient', 'enough']",NaN,NaN,NaN,NaN,NaN
2,3,"Word(fact_id=3, question='bewaren', answer=['k...",1159538.0,inf,True,3,bewaren,"['keep', 'to keep']",NaN,NaN,NaN,NaN,NaN
3,4,"Word(fact_id=4, question='gemiddeld', answer=[...",1168089.0,inf,True,4,gemiddeld,"['average', 'on average']",NaN,NaN,NaN,NaN,NaN
4,5,"Word(fact_id=5, question='verwachten', answer=...",1173078.0,inf,True,5,verwachten,"['expect', 'to expect']",NaN,NaN,NaN,NaN,NaN

In [61]:
# Avergae RT
np.average([x for x in tes["rt"].values if x!=np.Inf])

89012.44444444444

In [63]:
# No of correct/wrong in encounter 1
tes["correct"].value_counts()

True     30
False     7
Name: correct, dtype: int64

In [65]:
len(tes)

37

## Comparing Test and training/Contest

In [90]:

tes_grouped = tes.groupby('fact_id').agg('mean')
tes_grouped.head(5)

/var/folders/s2/psn1kzxd2_972xy94t5fr4cr0000gn/T/ipykernel_51267/3378082505.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  tes_grouped = tes.groupby('fact_id').agg('mean')

,trial,start_time,rt,correct,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
fact_id,,,,,,,,,
1,9.5,1731781.0,NaN,0.5,NaN,NaN,NaN,NaN,NaN
2,10.5,1737620.0,2565.5,0.0,NaN,NaN,NaN,NaN,NaN
3,11.5,1743222.5,NaN,1.0,NaN,NaN,NaN,NaN,NaN
4,12.5,1750729.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN
5,13.5,1754846.5,NaN,1.0,NaN,NaN,NaN,NaN,NaN

## Comparing P1 and tes

In [91]:
p1_grouped = p1.groupby('fact_id').agg('mean')
p1_grouped.head(5)

/var/folders/s2/psn1kzxd2_972xy94t5fr4cr0000gn/T/ipykernel_51267/486987055.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  p1_grouped = p1.groupby('fact_id').agg('mean')

,trial,start_time,rt,correct,encounter_2,reading_time,fogetting_rate
fact_id,,,,,,,
1,31.250000,115043.000000,NaN,0.750000,0.000000,563.6,0.262500
2,62.500000,444667.090909,NaN,0.909091,0.818182,680.6,0.521964
3,49.166667,371327.166667,NaN,0.833333,0.000000,914.6,0.296810
4,41.750000,329523.333333,NaN,0.833333,0.666667,1012.1,0.436458
5,19.666667,212758.000000,1486.333333,0.666667,0.000000,758.6,0.250391

In [93]:
merge_tes_p1_groups = pd.merge(tes_grouped, p1_grouped, how = "left", on = "fact_id")
merge_tes_p1_groups.head(5)

,trial_x,start_time_x,rt_x,correct_x,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,trial_y,start_time_y,rt_y,correct_y,encounter_2,reading_time,fogetting_rate
fact_id,,,,,,,,,,,,,,,,
1,9.5,1731781.0,NaN,0.5,NaN,NaN,NaN,NaN,NaN,31.250000,115043.000000,NaN,0.750000,0.000000,563.6,0.262500
2,10.5,1737620.0,2565.5,0.0,NaN,NaN,NaN,NaN,NaN,62.500000,444667.090909,NaN,0.909091,0.818182,680.6,0.521964
3,11.5,1743222.5,NaN,1.0,NaN,NaN,NaN,NaN,NaN,49.166667,371327.166667,NaN,0.833333,0.000000,914.6,0.296810
4,12.5,1750729.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,41.750000,329523.333333,NaN,0.833333,0.666667,1012.1,0.436458
5,13.5,1754846.5,NaN,1.0,NaN,NaN,NaN,NaN,NaN,19.666667,212758.000000,1486.333333,0.666667,0.000000,758.6,0.250391

In [98]:
len(merge_tes_p1_groups)

20

In [97]:
# Count how many times the avg correctness is greater in the grouped P1 than the grouped P2
len(merge_tes_p1_groups[merge_tes_p1_groups.correct_x > merge_tes_p1_groups.correct_y])

11

## Comparing P2 and tes

In [99]:
p2_grouped = p2.groupby('fact_id').agg('mean')
p2_grouped.head(5)

/var/folders/s2/psn1kzxd2_972xy94t5fr4cr0000gn/T/ipykernel_51267/581003624.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  p2_grouped = p2.groupby('fact_id').agg('mean')

,trial,start_time,rt,correct,encounter_2,reading_time,fogetting_rate
fact_id,,,,,,,
1,16.800000,1.144845e+06,330421.6,0.800000,0.0,875.6,0.301406
2,62.500000,1.750866e+06,NaN,0.583333,0.0,622.1,0.391797
3,40.583333,1.616873e+06,NaN,0.916667,0.0,1304.6,0.427734
4,18.666667,1.482028e+06,1338.0,0.666667,0.0,1285.1,0.250391
5,56.322581,1.712316e+06,NaN,0.935484,0.0,797.6,0.668536

In [100]:
merge_tes_p2_groups = pd.merge(tes_grouped, p2_grouped, how = "left", on = "fact_id")
merge_tes_p2_groups.head(5)

,trial_x,start_time_x,rt_x,correct_x,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,trial_y,start_time_y,rt_y,correct_y,encounter_2,reading_time,fogetting_rate
fact_id,,,,,,,,,,,,,,,,
1,9.5,1731781.0,NaN,0.5,NaN,NaN,NaN,NaN,NaN,16.800000,1.144845e+06,330421.6,0.800000,0.0,875.6,0.301406
2,10.5,1737620.0,2565.5,0.0,NaN,NaN,NaN,NaN,NaN,62.500000,1.750866e+06,NaN,0.583333,0.0,622.1,0.391797
3,11.5,1743222.5,NaN,1.0,NaN,NaN,NaN,NaN,NaN,40.583333,1.616873e+06,NaN,0.916667,0.0,1304.6,0.427734
4,12.5,1750729.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,18.666667,1.482028e+06,1338.0,0.666667,0.0,1285.1,0.250391
5,13.5,1754846.5,NaN,1.0,NaN,NaN,NaN,NaN,NaN,56.322581,1.712316e+06,NaN,0.935484,0.0,797.6,0.668536

In [101]:
len(merge_tes_p2_groups)

20

In [103]:
# Count how many times the avg correctness is greater in the grouped P1 than the grouped P2
len(merge_tes_p2_groups[merge_tes_p2_groups.correct_x > merge_tes_p2_groups.correct_y])

13